html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  background: #B2DFEE;
  color: #35586C;
}

h1 {
  font-size: 60px;
  margin: 30px;
  letter-spacing: 2px;
  font-weight: 300;
}

figure {
  display: inline-block;
  border: 10px solid #35586C;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.apple {
  background: #f00;
}

.snake {
  background: #006400;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 40%;
  width: 200px;
  height: 100px;
  padding: 50px;
  transform: translateY(-50%);
  background: #eee;
  border-radius: 5px;
}
